<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cry.forum.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.cry.forum.model.Article">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content_short" jdbcType="VARCHAR" property="contentShort"/>
        <result column="image_short" jdbcType="VARCHAR" property="imageShort"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="public_time" jdbcType="TIMESTAMP" property="publicTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="state" jdbcType="CHAR" property="state"/>
        <result column="Importance" jdbcType="INTEGER" property="importance"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="source_uri" jdbcType="VARCHAR" property="sourceUri"/>
        <result column="keys" jdbcType="VARCHAR" property="keys"/>
    </resultMap>
    <select id="query" resultType="com.cry.forum.vo.ArticleVO">
    select (select count(1) from comment t2 where t2.target_id =t.id) comment_num,t.* from article t where t.state="02"
  </select>
</mapper>
