<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cry.forum.mapper.CommonNumMapper" >
  <resultMap id="BaseResultMap" type="com.cry.forum.model.CommonNum" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="z1" property="z1" jdbcType="INTEGER" />
    <result column="z2" property="z2" jdbcType="INTEGER" />
    <result column="z3" property="z3" jdbcType="INTEGER" />
    <result column="z4" property="z4" jdbcType="INTEGER" />
    <result column="z5" property="z5" jdbcType="INTEGER" />
    <result column="z6" property="z6" jdbcType="INTEGER" />
    <result column="z7" property="z7" jdbcType="INTEGER" />
    <result column="z8" property="z8" jdbcType="INTEGER" />
    <result column="z9" property="z9" jdbcType="INTEGER" />
    <result column="z10" property="z10" jdbcType="INTEGER" />
  </resultMap>
</mapper>