<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cry.forum.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.cry.forum.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>

  <select id="queryByTargetId" resultMap="BaseResultMap">
    select t.* from comment t where t.target_id=#{targetId}
</select>
<!--  <select id="query" resultMap="BaseResultMap">-->
<!--    select t.* from comment t where t.pid is null-->
<!--</select>-->
    <select id="queryByPid" resultMap="BaseResultMap">
    select t.* from comment t where t.pid =#{pid}
</select>

</mapper>