<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cry.forum.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.cry.forum.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap id="queryResultMap" type="com.cry.forum.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

        <collection property="children" javaType="java.util.List" ofType="com.cry.forum.model.Comment">
            <id column="id2" jdbcType="INTEGER" property="id"/>
            <result column="pid2" jdbcType="INTEGER" property="pid"/>
            <result column="content2" jdbcType="VARCHAR" property="content"/>
            <result column="user_id2" jdbcType="INTEGER" property="userId"/>
            <result column="nick_name2" jdbcType="VARCHAR" property="nickName"/>
            <result column="avatar_url2" jdbcType="VARCHAR" property="avatarUrl"/>
            <result column="create_time2" jdbcType="TIMESTAMP" property="createTime"/>
        </collection>

    </resultMap>
    <select id="query" resultMap="BaseResultMap">
    select t.* from comment t where t.pid is null
</select>
    <select id="queryByPid" resultMap="BaseResultMap">
    select t.* from comment t where t.pid =#{pid}
</select>
    <!--    <select id="query" resultMap="queryResultMap">-->
    <!--select t.*,t2.id id2,t2.pid pid2,t2.content content2,t2.user_id user_id2,t2.nick_name nick_name2,t2.avatar_url avatar_url2,t2.create_time create_time2 from comment t left join comment t2 on t2.pid = t.id where t.pid is null-->
    <!--    </select>-->
</mapper>