<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cry.forum.mapper.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.cry.forum.model.Major" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="college_id" property="collegeId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="course" property="course" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryByCollegeId" resultType="com.cry.forum.model.Major">
    select * from major t where t.college_id = #{collegeId}
  </select>
</mapper>
