<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cry.forum.mapper.PostMapper">
    <resultMap id="BaseResultMap" type="com.cry.forum.model.Post">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="state" jdbcType="CHAR" property="state"/>
    </resultMap>
    <select id="query" resultType="com.cry.forum.vo.PostVO" >

    SELECT
    t.*,
    (SELECT
            t1.avatar_url
        FROM
            user_info t1
        WHERE
            t.user_id = t1.user_id) avatar_url,
    (SELECT
            t1.nick_name
        FROM
            user_info t1
        WHERE
            t.user_id = t1.user_id) nick_name,
    (SELECT
           t1.appreciate
        FROM
            user_post t1
        WHERE
            t1.post_id = t.id
            and t1.user_id = #{userId}) appreciate
FROM
    post t;
</select>

</mapper>
